<launch>

  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find typea_description)/typea.xacro'" /> 

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find typea_description)/typea.urdf -urdf -model typea -z 0.2938" />

  <include file="$(find typea_control)/launch/bioloid_control.launch"/>

  <node name="typea_walker" pkg="typea_gazebo" type="walker.py" output="screen"/>

</launch>
